<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="main.css">

<div class="wrapper">
  <h1><%= @player1_name %> vs. <%= @player2_name %></h1>

  <p><%= @player1_name %>: <%= @player1_hit_points %>/100 HP</p>

  <p><%= @player2_name %>: <%= @player2_hit_points %>/100 HP</p>

  <p><%= @hugger_name %>'s turn!</p>

  <form action="/attack">
    <input type="submit" value="Hug!!!" class="button">
  </form>
</div>
